<article
  class="ui-card"
  [ngClass]="[
    'size-' + size,
    'align-' + align,
    shadow ? 'shadow' : '',
    bordered ? 'bordered' : '',
    clickable ? 'clickable' : '',
    highlighted ? 'highlighted' : '',
  ]"
>
  <img *ngIf="imageUrl" [src]="imageUrl" [alt]="title" class="card-image" />

  <div class="card-content">
    <h3>{{ title }}</h3>
    <span *ngIf="subtitle">{{ subtitle }}</span>
    <p>{{ description }}</p>
  </div>

  <footer *ngIf="footer">
    {{ footer }}
  </footer>
</article>
