.ui-tooltip {
  position: relative;
  display: inline-flex;

  &:hover &__content {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    position: absolute;
    background: #111827;
    color: #fff;
    padding: var(--ui-space-2) var(--ui-space-3);
    border-radius: var(--ui-radius-sm);
    font-size: var(--ui-font-size-xs);
    min-width: 160px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    z-index: 10;

    &--top {
      bottom: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
    }

    &--bottom {
      top: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
    }

    &--left {
      right: calc(100% + 8px);
      top: 50%;
      transform: translateY(-50%);
    }

    &--right {
      left: calc(100% + 8px);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
