<div class="ui-accordion">
  @for (item of items(); track item.id; let index = $index) {
    <article
      class="ui-accordion__item"
      [class.ui-accordion__item--open]="isOpen(item.id)"
      [class.ui-accordion__item--disabled]="item.disabled"
    >
      <button type="button" (click)="toggle(item.id, item.disabled)">
        <span class="ui-accordion__title">
          @if (showNumbers()) {
            <span class="ui-accordion__number">{{ index + 1 }}</span>
          }

          @if (showIcons() && item.icon) {
            <span class="ui-accordion__icon">{{ item.icon }}</span>
          }

          <span>{{ item.title }}</span>
        </span>

        <span class="ui-accordion__toggle">
          {{ isOpen(item.id) ? "−" : "+" }}
        </span>
      </button>

      @if (isOpen(item.id)) {
        <div class="ui-accordion__content">
          {{ item.content }}
        </div>
      }
    </article>
  }
</div>
